@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";


:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.marquee-container {
  width: 99vw; /* fuerza a usar TODO el ancho de pantalla */
  overflow: hidden;
  background-color: #fff;
  color: #0c2c4c;
  height: 2rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  position: relative;
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100vw; /* sale desde fuera del lado derecho */
  animation: scroll-full 15s linear infinite;
}

@keyframes scroll-full {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
